<nav-menu></nav-menu>
<main>

  <div class="container" *ngIf="isAuthed === true">
    Authenticated
  </div>
  <div class="container" *ngIf="isAuthed === false">
    <button class="btn btn-outline-primary" (click)="login()">Log In</button>
  </div>
  <div class="container" *ngIf="isAuthed === undefined">
    Loading...
  </div>
  <!--<div class="container">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let song of songs$ | async">
        {{song.title}}
      </li>
    </ul>
  </div>-->
</main>
